ul, li {
    all: unset;
}

.details {
    height: 100%;
    margin: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
}

.wrapper {
    display: flex;
}

.overview > h3 {
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 2rem;
}

.content__title {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
}

.content__item {
    display: flex;
}

.sub__title {
    font-size: 1rem;
    margin: 0;
    margin-right: 0.4rem;
    padding: 0;
    padding-bottom: 1rem;
    display: inline-block;
}

.sub__content {
    font-weight: 500;
}

.list__item:not(:last-child)::after {
    content: ',';
    display: inline-block;
    width: 6px;
    height: 1px;
}

.list__item:last-of-type::after {
    content: '.';
    display: inline-block;
    width: 6px;
    height: 1px;
}
