.movie {
    height: 100%;
    display: flex;
}

.movie__wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.movie__poster {
    margin-right: 1.5rem;
}

.movie__title {

}

.movie__overview {

}

.movie__date {

}
.genre__list {
    all:unset;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.genre__title{
    margin: 0;
    padding: 0;
}
.genre__list__item {
    all: unset;
    margin: 0 0.2rem;
}
.movie__list {

}

.movie__list__item {

}