.main {
    height: 100%;
}

.movies__list {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.title {
    text-align: center;
    margin: 0 2rem;
}

