.movies__item {
  all: unset;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: scale 0.6s;
  margin: 0.2rem 0.4rem;
  flex-basis: calc(100% / 5);

  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  &:hover .movie__info {
    display: flex;
  }

  &:hover .movies__poster {
    filter: blur(3px);
  }
}

.movie__info {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background: #000000b5;
  color: #fff;
  font-size: 0.8rem;
}
